{{ define "main" }}
<ul class="toc">
    {{ range $_, $entry := .TOC }}
    <li>
        <a class="toc_link" href="{{ $entry.PathToEntry }}">{{ $entry.Entry.FrontMatter.Title }}</a>
        <p class="toc_date">{{ $entry.Entry.DisplayDate }}</p>
    </li>
    {{ end }}
</ul>
{{ end }}
