{{ define "main" }}
<header>
    <a class="github_link" href="https://github.com/cideM/">florian beeres</a>
</header>

<ul class="toc">
    {{ range $_, $entry := .TOC }}
    <li>
        <a class="toc_link" href="{{ $entry.PathToEntry }}">{{ $entry.Entry.FrontMatter.Title }}</a>
        <p class="toc_date">{{ $entry.Entry.DisplayDate }}</p>
    </li>
    {{ end }}
</ul>
{{ end }}
